@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

header{
    background-color: lavender;
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

html{
    scroll-behavior: smooth;
}

.logo{
    float: left;
}

.barra{
    float: right;
}

.barra li{
    list-style: none;
    display: inline-block;
    color: black;
}

.barra{
    text-decoration: none;
    color: black;
}

.barra a:hover{
    color:white;
}

main{
    height: 100vh;
    width: 100%;
    background-color:lavender;
    
}


.call{
    width: 70%;
    color:black;
    border: 5px solid violet;
    float: right;
    padding: 20px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height:calc(100vh-80px);
    width: 100%;
    background-color: yellow;
    background-image: url(img/Logo.jpg);
    background-size: cover;
    background-position:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.call{
    width: 70%;
    color: #fff;
    border: 5px solid orchid;
    float: right;
    padding-top: 20px;
    margin: 30px;
}

h1{
    color:black;
}

.call p{
    margin-top: 20px;
    margin-bottom: 40px;
}

.call a{
    color:white;
    text-decoration: none;
    background-color:salmon;
    padding: 10px 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.subir{
    position: fixed;
    right: 40px;
    background-color:white;
    padding: 15px;
    color: yellowgreen;
    font-size: 20px;
    border-radius: 50%;
}

.subir:hover{
background-color: blueviolet;
}

.sec{
    background-color: lavender;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding: 20px;
}

.cont{
    height: 600px;
    width: 100%;
    background-color: black;
}

.Item1{
    background-color: antiquewhite;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    line-height: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: orangered;
    background-image: url(img/Olas.jpg);
}

.item:hover{
    transition:all 0,9s;
    background-size: 125%;
}

.Item2{
    background-color: antiquewhite;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    line-height: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: brown;
    background-image: url(img/Olas.jpg);
}

.Item3{

    background-color: antiquewhite;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    line-height: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: black;
    background-image: url(img/Olas.jpg);
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;

    width: 100%;
    margin-top: 0 auto;
    background-color: lightslategray;
    padding: 20px;
    border: 1px solid black;
}

.Item{
    border: 4px solid black;
    background-color: red;
    text-align: center;
    line-height: 150px;
}
.redes i{
font-size: 50px;
margin-bottom: 20px;
letter-spacing: 20px;
color: yellow;
}

*{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

.team{
    display: flex;
    justify-content:space-evenly;
    background-color: antiquewhite;
}

.card{
    height: 450px;
    width: 30%;
    background-color: aquamarine;
    border: 3px solid black;
}

.card-img{
    background-image: url(img/Medias.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.card:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}

.team h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 5px 1px #000000;
}

.team h5{
    text-align: center;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    color: coral;
}

.p{
    padding: 20px;

}

.card2-img{
    background-image: url(img/Campera.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.card3-img{
    background-image: url(img/Vestimenta.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 20px;
}

.fondo{
    height: 400px;
    background-color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    background-color: black;
    color: darkblue;
    font-size: 30px;
    padding: 20px;
}

.galeria .item:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}

@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    background-image: url(img/anteojos.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid darkorange;
}

.img1{
    grid-area: img1;
    background-image: url(img/Atardecermujer.jpg);
}

.img2{
    grid-area: img2;
    background-image: url(img/Horario.jpg);
}

.img3{
    grid-area: img3;
    background-image: url(img/Guantes.jpg);
}

.img4{
    grid-area: img4;
    background-image: url(img/Medias.jpg);
}

.img5{
    grid-area: img5;
    background-image: url(img/Olas.jpg);
}

.img6{
    grid-area: img6;
    background-image: url(img/Logo.jpg);
}

.img7{
    grid-area: img7;
    background-image: url(img/anteojos.jpg);
}

.img8{
    grid-area: img8;
    background-image: url(img/Logo.jpg);
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;

    width: 100%;
    margin-top: 0 auto;
    background-color: lightslategray;
    padding: 20px;
    border: 1px solid black;
}

.caja{
    border: 4px solid black;
    background-color: beige;
    text-align: center;
    line-height: 150px;
}

.c1{
    grid-column: 1/4;
    background-color: fuchsia;
}

.c2{
    grid-column: 1/3;
    background-color: darkmagenta;
}

.c3{
    background-color: yellow;
}

.c4{
    background-color: aquamarine;
}

.c5{
    background-color: indianred;
}

.c6{
    background-color: darksalmon;
}

.c7{
    background-color: darkseagreen;
}

.c8{
    background-color: goldenrod;
}

.c9{
    background-color: orangered;
}

.c10{
    background-color: teal;
}

.c11{
    background-color: orchid;
}

.c12{
    background-color: rebeccapurple;
}

.item{
    border: 2px solid black;
    background-image: url(../Entrega-Coder-Chaves/img/Compras.jpg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.item:hover{
    transition: all 0,9s;
    background-size: 125%;
}

header{
    height: 80px;
}

aside{
    height: 250px;
}
article{
    height: 200px;
}

footer{
    height: 80px;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px 100px; /* 2 columnas*/
    grid-template-rows: 40px 100px; /* 2 filas*/
} 
.navbar{
    background-color: aqua;
}

#cuadrado{
    width: 200px;
    height: 200px;
    background: #aaa;
    animation-name: mianimacion;
    animation-duration: 5s;
    animation-delay: 1,5s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: 2;;
}

@keyframes mianimacion{
    0%{background:  #aaa;left: 0;top: 0px;}
    25%{background: firebrick; left:300px;top:0px}
    50%{background: red; left: 300px; top:300px;}
    75%{background: skyblue; left:0px;top:300px}
    100%{background:blueviolet; left:0px;top:0px}
}
/*es lo que intente hacer para la hoja de servicio, y preguntas frecuentes pero no se porque no funcionó*/
/*Sigo sin tener bootstap porque lo aprendi a ultimo momento y no me daba el tiempo, prometo que para la entrega final va a estar presente*/